<!-- Carousel Slick -->

<a class="text-body" href="heisse-idee.html">
    <h2 class="col-12 h3 my-5">Empfehlungen</h2>
</a>
<div class="col-12 autoplay">
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?bike" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Cargovelo</h3>
        </a>
        <p class="mb-0">Ihr Velo für den Warentransport.</p>
    </div>
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?design" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Designer-Tools</h3>
        </a>
        <p class="mb-0">Was sie schon immer haben wollten..</p>
    </div>
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?office" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Bürohund</h3>
        </a>
        <p class="mb-0">Ihr Begleiter im Office.</p>
    </div>
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?sea" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Seesack</h3>
        </a>
        <p class="mb-0">Nie wieder nasse Sachen auf See.</p>
    </div>
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?cake" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Kuchenform</h3>
        </a>
        <p class="mb-0">Weil jeder Kuchen mag.</p>
    </div>
    <div class="px-2">
        <div class="image-container-1200">
            <a href="device-smarterer.html">
                <img class="img-fluid" src="https://source.unsplash.com/800x600/?dog" alt="slide 1">
            </a>
        </div>
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Hunde-Cam</h3>
        </a>
        <p class="mb-0">Damit Sie wissen was ihr Vierbeiner treibt.</p>
    </div>
</div>
