<footer class="mt-5">
  <div class="container">
    <div class="row py-5 d-flex align-items-center justify-content-md-center">
      <div class="col-12 col-md-8 d-flex justify-content-around">
        <a href="https://www.linkedin.com" class="footer-icons text-light d-block px-3">
          <i class="fab fa-linkedin-in fa-2x"></i>
        </a>
        <a href="https://sandromatter.github.io/osi-prototype" class="footer-icons text-light d-block px-3">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://www.twitter.com" class="footer-icons text-light d-block px-3">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.facebook.com" class="footer-icons text-light d-block px-3">
          <i class="fab fa-facebook-f fa-2x"></i>
        </a>
      </div>
      <div class="col-12 py-4">
          <hr class="footer-hr" />
      </div>
      <div class="col-12 col-md-4 mb-5 text-center">
        <a class="footer-white" href="index.html"><h3 class="h4 mb-3">Unterstützung</h3></a>
        <a class="footer-white" href="index.html"><p>Support</p></a>
        <a class="footer-white" href="index.html"><p>Presse</p></a>
        <a class="footer-white" href="index.html"><p>FAQ</p></a>
      </div>
      <div class="col-12 col-md-4 text-center">
        <a class="footer-white" href="index.html"><h3 class="h4 mb-3">Über uns</h3></a>
        <a class="footer-white" href="index.html"><p>Kontakt</p></a>
        <a class="footer-white" href="index.html"><p>Jobs</p></a>
        <a class="footer-white" href="index.html"><p>Gründer</p></a>
        <a class="footer-white" href="index.html"><p>Leitbild</p></a>
      </div>
    </div>
  </div>
</footer>