<nav class="navbar navbar-back d-flex">
    <div class="back-button">
        <button onclick="location.href='index.html'" type="button" class="btn btn-outline-dark btn-size mx-1">
            <i class="fas fa-chevron-left pr-3"></i>Back
        </button>
    </div>
</nav>