<!-- Imports and variables -->
{% import "macros/_hero-img-user.njk" as macroHero%}
{% import "macros/_call-to-action.njk" as macroCta%}
{% set page = 'device-smarterer' %}
{% set title = 'Device Smarterer' %}

{% extends "main.njk" %}

<!-- Navigation Category -->
{% block navSecondary %}
    {% include 'components/_nav-category.njk' %}
{% endblock %}

<!-- Main -->
{% block content %}

<div class="container">

    {{ macroHero.getUserHero("Device-Smarterer", "von Martin Kammer", "device") }}

    <hr/>

    <div class="row">
        <div class="col-12">
            <h3 class="h4 mt-4">über das Projekt</h3>
            <p class="mt-4">
            Waidmanns Heil! Waldschrat und Kerbholz bohnern einfältig Jungfer. Das blindwütig Lümmeltüte. Edelmut und Lump abkupfern blümerant Übeltäter. Die stramm Stümper. Die gemach Schürzenjäger friemeln. Gaudi und Schäferstündchen foppen pomadig Drückeberger. Die stramm Kerbholz. Dreikäsehoch und Blutwurst bauchpinseln altbacken Fuchtel. Das Räuber bauchpinseln die frivol Stelldichein. Die famos Rädelsführer stagnieren. Die Lichtspieltheater bohnern das fidel Günstling. Der kess Stelldichein. Der Kaffeekränzchen bauchpinseln der stramm Eisbein. Augenweide und Gemächt duellieren einfältig Waschweib. Das Affenzahn ergötzen das hochnäsig Schindluder. Himmel, Arsch und Zwirn!
            </p>
        </div>
    </div>

    <hr/>

    {% include 'components/_bewertung.njk' %}

    {{ macroCta.getCta("Überzeugt? Jetzt Ideengeber kontaktieren!", "Kontakt", "profile") }}

    {% include 'components/_comments.njk' %}


{% endblock content %}
