<!-- Imports and variables -->
{% import "macros/_hero-img.njk" as macroHero%}
{% import "macros/_call-to-action.njk" as macroCta%}
{% set page = 'home' %}
{% set posts = [
    {
      "postTitle"   : "Bezahlbares High-End Bike",
      "postText"    : "Super Teil für wenig Cash.",
      "postUrl"     : "bike"
    },
    {
      "postTitle"   : "Bierzapfhahn",
      "postText"    : "Mit einem grossen *habenwill* Effekt.",
      "postUrl"     : "beer"

    },
    {
      "postTitle"   : "Code-School",
      "postText"    : "Endlich einfach erklärt.",
      "postUrl"     : "code"
    }
  ]
%}

{% extends "main.njk" %}

<!-- Navigation Category -->
{% block navCategory %}
  {% include 'components/_nav-category.njk' %}
{% endblock %}

<!-- Main -->
{% block content %}

<div class="container">

  {{ macroHero.getHero("Device-Smarterer", "Idee des Tages", "Damit sie jederzeit schnell jedes Ihrer Geräte zum Smart-Device umbauen können.", "device") }}

  <hr/>

  {% include "components/_feed.njk" %}

  {{ macroCta.getCta("Eigene Idee? Jetzt hochladen!", "Start") }}

  {% include 'components/_carousel.njk' %}

{% endblock content %}
