<!-- Imports and variables -->
{% set page = 'neue-idee-2' %}
{% set title = 'Neue Idee' %}

{% extends "main.njk" %}

<!-- Main -->
{% block content %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
            <div class="progress mt-5">
                <div class="progress-bar" role="progressbar" style="width:25%"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:25%"></div>
            </div>
            <div class="d-flex justify-content-around mt-2">
                <p><a class="text-body" href="neue-idee-1.html">Idee</a></p>
                <p><a class="text-body active" href="neue-idee-2.html">Registrierung / Login</a></p>
                <p class="grey-500"><a class="text-body" href="neue-idee-3.html">Review</a></p>
                <p class="grey-500"><a class="text-body" href="neue-idee-4.html">Push</a></p>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 d-flex">
            <h2 class="h2">Registrierung</h2>
        </div>
    </div>

    <hr class="mb-5"/>

    <div class="row">
        <div class="col-12 d-flex justify-content-center text-center">
            <p class="mb-0">Sie haben bereits einen Account? <a href="profile.html">Zum Login.</a><br/>Oder erstellen Sie unten einen neuen Account.</p>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8 mt-5 mb-2">
            <button onclick="location.href=''" type="button" class="btn btn-outline-secondary btn-lg btn-block">
                <i class="fab fa-google pr-4"></i>
                Login with Google
            </button>
        </div>
        <div class="col-12 col-md-8">
            <button onclick="location.href=''" type="button" class="btn btn-outline-secondary btn-lg btn-block">
                <i class="fab fa-facebook-f pr-4"></i>
                Login with Facebook
            </button>
        </div>
    </div>

    <hr class="mt-5"/>

    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <h3 class="h4 mt-5 mb-3">Name</h3>
                        <input class="form-control" type="text" placeholder="Tippe deinen vollständigen Namen ein.">
                    </div>
                    <div class="form-group">
                        <h3 class="h4 mt-5 mb-3">E-Mail</h3>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gib deine E-Mail-Adresse ein.">
                        <small id="emailHelp" class="form-text text-muted">Keine Sorge, wir sorgen gut für Deine Daten!</small>
                    </div>
                </div>
                <div class="form-group">
                    <h3 class="h4 mt-5 mb-3">Passwort</h3>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Wähle ein sicheres Passwort.">
                </div>
                <div class="row justify-content-md-center">
                    <div class="form-check col-md-8 mt-5 mb-3">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Ich möchte jeden Monat eine handverlesene Zusammenstellung des Open Source Innovation Teams erhalten um immer Up-to-date über die aktuellsten und besten Ideen zu sein.
                        </label>
                    </div>
                    <div class="form-check col-md-8 mt-4 mb-2">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Ich habe die AGBs zwar nicht gelesen, aber akzeptiere diese dennoch.
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5 mb-3 d-flex justify-content-between idea-button-prev-next">
            <button onclick="location.href='neue-idee-1.html'" type="button" class="btn btn-primary btn-size"><i class="fas fa-chevron-left pr-4"></i>Zurück</button>
            <button onclick="location.href='neue-idee-3.html'" type="button" class="btn btn-primary btn-size ">Weiter<i class="fas fa-chevron-right pl-4"></i></button>
        </div>
    </div>

{% endblock content %}
