  <div class="col d-flex justify-content-center">
    <button onclick="location.href='{{ page }}.html'" type="button" class="btn btn-outline-dark mx-1">
        <i class="fas fa-chevron-left"></i>
    </button>
    <button onclick="location.href='{{ page }}.html'" type="button" class="btn btn-outline-dark mx-1">
        1
    </button>
    <button onclick="location.href='{{ page }}.html'" type="button" class="btn btn-outline-dark mx-1">
        …
    </button>
    <button onclick="location.href='{{ page }}.html'" type="button" class="btn btn-outline-dark mx-1">
        <i class="fas fa-chevron-right"></i>
    </button>
  </div>