<!-- Imports and variables -->
{% import "macros/_call-to-action.njk" as macroCta%}
{% set page = 'profile' %}
{% set title = 'Profil' %}

{% extends "main.njk" %}

<!-- Navigation Back -->
{% block navSecondary %}
    {% include 'components/_nav-back.njk' %}
{% endblock %}

<!-- Main -->
{% block content %}

<div class="container">
    
    <div class="row my-5">
        <div class="col d-flex">
            <div class="pr-3">
                <img class="rounded-circle" src="https://source.unsplash.com/X6Uj51n5CE8/125x125" alt="User avatar">
            </div>
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="h2 col-12">Martin</h2>
                    <h2 class="h2 col-12">Kammer</h2>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <h3 class="col-12 h4 my-4">Kontakt</h3>
        <div class="col-12 col-md-6">
            <div class="card px-0 mb-3 mx-1">
                <div class="card-header px-3"><i class="far fa-envelope mr-2"></i>E-Mail</div>
                <div class="card-body px-3">
                    <p><a class="text-body" href="#">mail@martinkammer.ch</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card px-0 mb-3 mx-1">
                <div class="card-header px-3"><i class="fas fa-globe-europe mr-2"></i>Webseite</div>
                <div class="card-body px-3">
                    <p><a class="text-body" href="#">www.martinkammer.ch</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card px-0 mb-3 mx-1">
                <div class="card-header px-3"><i class="fab fa-linkedin-in mr-2"></i>LinkedIn</div>
                <div class="card-body px-3">
                    <p><a class="text-body" href="#">linkedin.com/in/martinkammer</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card px-0 mb-3 mx-1">
                <div class="card-header px-3"><i class="fab fa-twitter mr-2"></i>Twitter</div>
                <div class="card-body px-3">
                    <p><a class="text-body" href="#">twitter.com/martinkammer</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card px-0 mb-3 mx-1">
                <div class="card-header px-3"><i class="fab fa-facebook-f mr-2"></i>Facebook</div>
                <div class="card-body px-3">
                    <p><a class="text-body" href="#">facebook.com/martinkammer</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex">
            <div class="row">
                <h3 class="col-12 h4 my-4">Ideen</h3>
                <p class="col-12 mb-3"><i class="fas fa-check-circle mr-2"></i><a class="text-body" href="device-smarterer.html">Bierzapfhahn</a></p>
                <p class="col-12"><i class="fas fa-check-circle mr-2"></i><a class="text-body" href="device-smarterer.html">Burger-Koch 3000</a></p>
            </div>
        </div>
    </div>

    <hr/>

    {% include 'components/_bewertung.njk' %}

    {{ macroCta.getCta("Interessiert?", "Jetzt kontaktieren!", "profile") }}

{% endblock content %}
