/**
 * Global CSS additional to bootstrap CSS.
 *
 */

//==============================================================================
// Typography
//==============================================================================

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family-monospace;
}

.bold {
    font-weight: 700;
}

body,
p {
    font-family: $font-family-sans-serif;
}

//==============================================================================
// Navigation
//==============================================================================

.avatar {
    margin: 0 1rem 0 auto;
    img {
       height: 3rem;
    }
}

.navbar-brand > img {
    height: 4rem;
}

// Nav category with side scroll

.navbar-category {
    background: $primary;
    width: 100%;
}

.navbar-category-list{
    list-style: none;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar-category-list::-webkit-scrollbar {
    display: none; 
}

.navbar-category-list > li > a {
    color: $white;
    text-decoration: none;
}

.navbar-category-list > li:not(:first-child):before {
    content: "//";
    color: $white;
    float: left;
    margin: 8px 0 0 -6px;
}

.navbar-category-list > li > a.active {
    text-decoration: underline;
}

//==============================================================================
// Body
//==============================================================================

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.gradient {
    background-image: $gradient;
}

.cta-box {
    height: 30vh;
    align-content: space-around;
}



/* Carousel */
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}