{% macro getCta(ctaText, ctaButton, ctaUrl) %}

<!-- Call to Action Box -->

<div class="row cta-box shadow gradient justify-content mt-4">
    <div class="col-12">
        <div class="row">
            <div class="col-12 mb-4">
                <p class="h2">{{ ctaText }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button onclick="location.href='{% if ctaUrl %}{{ ctaUrl }}{% else %}heisse-idee{% endif %}.html'" type="button" class="btn btn-light btn-size">{{ ctaButton }}</button>
            </div>
        </div>
    </div>    
</div>    

{% endmacro %}