{% macro getPost(postTitle, postText, postUrl) %}

<div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
    <div class="flex-grow-1 pr-2">         
        <h3 class="h4 mb-2">
            <a class="text-body" href="device-smarterer.html">{{ postTitle }}</a>
        </h3>
        <p class="mb-0">{{ postText }}</p>
    </div>
    <div class="justify-content-end image-container-100">
        <a class="text-body" href="device-smarterer.html">
            <img class="img-fluid" src="https://source.unsplash.com/100x100/?{{ postUrl }}" alt="Random unsplash image.">
        </a>
    </div>
</div>

{% endmacro %}