<div class="row my-5">
    <h3 class="col-12 h4 mb-4">Bewertung</h3>
    <div class="col-12 d-flex justify-content-center">
        <div class="px-2">
            <i class="fas fa-star"></i>
        </div>
        <div class="px-2">
            <i class="fas fa-star"></i>
        </div>
        <div class="px-2">
            <i class="fas fa-star"></i>
        </div>
        <div class="px-2">
            <i class="fas fa-star"></i>
        </div>
        <div class="px-2">
            <i class="far fa-star"></i>
        </div>
    </div>
</div>