<h2 class="col-12 h3 mt-5 mb-4">
  <a class="text-body" href="heisse-idee.html">
  Empfehlungen
  </a>
</h2>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="image-container-1200">
        <a href="device-smarterer.html">
            <img class="d-block w-100" src="https://source.unsplash.com/800x600/?bike"
            alt="demo picture of unsplash">        
        </a>
      </div>
      <div class="carousel-caption white-shadow">
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Cargovelo</h3>
        </a>
        <p class="text-body">Ihr Velo für den Warentransport.</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-container-1200">
        <a href="device-smarterer.html">
            <img class="d-block w-100" src="https://source.unsplash.com/800x600/?office"
            alt="demo picture of unsplash">        
        </a>
      </div>
      <div class="carousel-caption white-shadow">
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Bürohund</h3>
        </a>
        <p class="text-body">Ihr Begleiter im Office.</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-container-1200">
        <a href="device-smarterer.html">
            <img class="d-block w-100" src="https://source.unsplash.com/800x600/?sea" 
            alt="demo picture of unsplash">        
        </a>
      </div>
      <div class="carousel-caption white-shadow">
        <a class="text-body" href="device-smarterer.html">
            <h3 class="h4 mt-3 mb-2">Seesack</h3>
        </a>
        <p class="text-body">Nie wieder nasse Sachen auf See.</p>
      </div>
    </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
