<div class="row my-5">
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox" name="logo-1" id="logo-2">Intel</div>
            <div class="card-body">
                <img src="img/logos/logo-1.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox">Braun</div>
            <div class="card-body">
                <img src="img/logos/logo-2.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox">Apple</div>
            <div class="card-body">
                <img src="img/logos/logo-3.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox">Dell</div>
            <div class="card-body">
                <img src="img/logos/logo-4.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox" label="logo-1">
            <div class="card-header"><input class="mr-2" type="checkbox" label="logo-1">Google</div>
            <div class="card-body">
                <img src="img/logos/logo-5.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-4 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox" label="logo-2">Bosch</div>
            <div class="card-body">
                <img src="img/logos/logo-6.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-5 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox">Miele</div>
            <div class="card-body">
                <img src="img/logos/logo-7.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card border-light shadow mb-5 bg-white rounded card-checkbox">
            <div class="card-header"><input class="mr-2" type="checkbox">Siemens</div>
            <div class="card-body">
                <img src="img/logos/logo-8.jpg" class="card-img-top" alt="Partner Logo">
            </div>
        </div>
    </div>

    {% include 'partials/_btn-prev-next.njk' %}

</div>