<!-- Comments -->

<div class="row">
    <div class="col-12 mb-4 mt-5">
        <h3 class="h4">Kommentare</h3>
    </div>
    <div class="col-12 col-md-9 col-lg-6 mb-4">
        <div class="d-flex">
            <div>
                <img class="g-width-50 g-height-50 rounded-circle" src="https://source.unsplash.com/3402kvtHhOo/50x50" alt="Comment Portrait">
            </div>
            <div class="g-bg-black rounded speech-bubble ml-4">
                <div class="p-3">
                    <div>
                        <h5 class="h5 g-color-white mb-0">Jane Doe</h5>
                        <span class="g-color-white g-font-size">5 days ago</span>
                    </div>
                    <p class="g-color-white">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                    <ul class="list-inline d-flex my-0">
                        <li class="list-inline-item">
                            <a class="u-link-v5 g-color-white g-color-primary--hover pr-1" href="#!">
                                <i class="fa fa-reply pr-1"></i>
                                Reply
                            </a>
                        </li>
                        <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-color-white g-color-primary--hover pr-1" href="#!">
                            <i class="fa fa-thumbs-up pr-1"></i>
                            178
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a class="u-link-v5 g-color-white g-color-primary--hover px-1" href="#!">
                            <i class="fa fa-thumbs-down pr-1"></i>
                            12
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9 col-lg-6 mb-2">
        <div class="d-flex">
            <div>
                <img class="g-width-50 g-height-50 rounded-circle" src="https://source.unsplash.com/XhMSz5I1kn8/50x50" alt="Comment Portrait">
            </div>
            <div class="g-bg-black rounded speech-bubble ml-4">
                <div class="p-3">
                    <div>
                        <h5 class="h5 g-color-white mb-0">John Doe</h5>
                        <span class="g-color-white g-font-size">3 days ago</span>
                    </div>
                    <p class="g-color-white">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    <ul class="list-inline d-flex my-0">
                        <li class="list-inline-item">
                            <a class="u-link-v5 g-color-white g-color-primary--hover pr-1" href="#!">
                                <i class="fa fa-reply pr-1"></i>
                                Reply
                            </a>
                        </li>
                        <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-color-white g-color-primary--hover pr-1" href="#!">
                            <i class="fa fa-thumbs-up pr-1"></i>
                            56
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a class="u-link-v5 g-color-white g-color-primary--hover px-1" href="#!">
                            <i class="fa fa-thumbs-down pr-1"></i>
                            3
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>