<div class="row">
  <div class="col-12">
    <form>
      <h3 class="h4 mt-5 mb-3">Titelbild uploaden</h3>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Ziehe die Datei in dieses Feld.</label>
        </div>
    </form>
  </div>
</div>